@import './_config.scss';

::selection {
    background: $theme_color;
}

* {
    margin: 0;
    padding: 0;
}

.br::before {
    content: '\A';
    white-space: pre;
}

#noPosts {
    text-align: center;
}

#noPostsMes {
    margin-top:10px;
}

.slideout-menu {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    width: $sidemenu_padding;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    display: none;
}

.slideout-panel {
    position: relative;
    z-index: 1;
    will-change: transform;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
}

.slideout-open .slideout-menu {
    display: block;
}

html {
    height: 100%;
}


body{
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Original Yu Gothic", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
    animation: fadeIn 2s ease 0s 1 normal;
    -webkit-animation: fadeIn 2s ease 0s 1 normal;
}



.dashPhoto {
    @extend body;
    position: relative;
    box-sizing: border-box;
}

.textPhoto {
    display: inline-block;
    @extend .dashPhoto;

    background-color: #eee;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #000;
    box-sizing: border-box;
    padding: 40px;
    
    width:100% !important;
    height: auto !important;

    p {
	line-height:110%;
    	white-space: normal;
    	word-wrap: break-word;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

nav {
    background: #eee;
    color: #555555;
}

main {
    $shadow_right: -10px;
    $shadow_bottom: 0px;
    $shadow_blur: -$shadow_right;
    $shadow_spread: 1px;
    $shadow_color: rgba(0, 0, 0, 0.31);

    width: 100%;
    height: 100%;
    background: $theme_color;
    box-shadow: $shadow_right $shadow_bottom $shadow_blur $shadow_spread $shadow_color;
    -moz-box-shadow: $shadow_right $shadow_bottom $shadow_blur $shadow_spread $shadow_color;
    -webkit-box-shadow: $shadow_right $shadow_bottom $shadow_blur $shadow_spread $shadow_color;

    color: #fff;
    min-height: 100%;
}

header {
    padding: 1rem;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.fixed {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: fixed;
    z-index: 2;
    -webkit-transition: -webkit-transform $sidemenu_delay ease;
    transition: -webkit-transform $sidemenu_delay ease;
    transition: transform $sidemenu_delay ease;
    transition: transform $sidemenu_delay ease, -webkit-transform $sidemenu_delay ease;
    width: 25px;
}

.fixed-open {
    -webkit-transform: translate3d($sidemenu_padding, 0px, 0px);
    transform: translate3d($sidemenu_padding, 0px, 0px);
}

.toggle-button {
    padding: 0;
    margin: 0;
    color: $point_color;
}

$maxcoloum: 6;
$max_width: 1200px;
$distance: 200px;

.articleWrapper {
    margin: 0 auto;
}

.aarticle {
    margin-top: 10px;
    
}
