@import './_config.scss';

::selection {
    background: $theme_color;
}

* {
    margin: 0;
    padding: 0;
}

.slideout-menu {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    width: $sidemenu_padding;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    display: none;
}

.slideout-panel {
    position: relative;
    z-index: 1;
    will-change: transform;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
    //overflow: hidden;
}

.slideout-open .slideout-menu {
    display: block;
}

html {
    height: 100%;
}

body,
.dashPhoto .textPhoto {
    width: 100%;
    animation: fadeIn 2s ease 0s 1 normal;
    -webkit-animation: fadeIn 2s ease 0s 1 normal;
}

.textPhoto {
    color: #000;
    background-color: #eee;
    padding: 50px 20px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

nav {
    background: #eee;
    color: #555555;
}

main {
    $shadow_right: -10px;
    $shadow_bottom: 0px;
    $shadow_blur: -$shadow_right;
    $shadow_spread: 1px;
    $shadow_color: rgba(0, 0, 0, 0.31);

    width: 100%;
    height: 100%;
    background: $theme_color;
    box-shadow: $shadow_right $shadow_bottom $shadow_blur $shadow_spread $shadow_color;
    -moz-box-shadow: $shadow_right $shadow_bottom $shadow_blur $shadow_spread $shadow_color;
    -webkit-box-shadow: $shadow_right $shadow_bottom $shadow_blur $shadow_spread $shadow_color;

    color: #fff;
    min-height: 100%; //  padding: 3rem 4rem;
}

header {
    padding: 1rem;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.fixed {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: fixed;
    z-index: 2;
    -webkit-transition: -webkit-transform $sidemenu_delay ease;
    transition: -webkit-transform $sidemenu_delay ease;
    transition: transform $sidemenu_delay ease;
    transition: transform $sidemenu_delay ease, -webkit-transform $sidemenu_delay ease;
    width: 25px;
}

.fixed-open {
    -webkit-transform: translate3d($sidemenu_padding, 0px, 0px);
    transform: translate3d($sidemenu_padding, 0px, 0px);
}

.toggle-button {
    padding: 0;
    margin: 0;
    color: $point_color;
}

$maxcoloum: 6;
$max_width: 1200px;
$distance: 200px;

#photos {
    line-height: 0;
    -webkit-column-count: $maxcoloum;
    -webkit-column-gap: 0px;
    -moz-column-count: $maxcoloum;
    -moz-column-gap: 0px;
    column-count: $maxcoloum;
    column-gap: 0px;

    img {
        &:hover {
            filter: brightness(1.1);
            webkit-filter: brightness(1.1);
            -moz-filter: brightness(1.1);
            -o-filter: brightness(1.1);
            -ms-filter: brightness(1.1);

	    -webkit-transition: $sidemenu_delay ease-in-out;
	    -moz-transition: $sidemenu_delay ease-in-out;
	    -o-transition: $sidemenu_delay ease-in-out;
	    transition: $sidemenu_delay ease-in-out;
        }
        width: 100% !important;
        height: auto !important;
    }

    p {
        width: 100% !important;
    }
}

@media (max-width: $max_width) {
    #photos {
        -moz-column-count: 5;
        -webkit-column-count: 5;
        column-count: 5;
    }
}

@media (max-width: $max_width - $distance) {
    #photos {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}

@media (max-width: $max_width - $distance * 2) {
    #photos {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media (max-width: $max_width - $distance * 3) {
    #photos {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media (max_width: $max_width - $distance * 4) {
    #photos {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 2;
    }
}
