$primary-color: #fff;
@import '../../../../node_modules/loaders.css/src/animations/square-spin.scss';

.loader-hidden {
    display: none;
}

.loader-active {
    display: block;
    flex: none;
    max-width: 50%;
}

.centernize {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 20em;
}